frozen-lockfile=false
public-hoist-pattern[]=next
public-hoist-pattern[]=next/*
public-hoist-pattern[]=@next/*
public-hoist-pattern[]=@openmaic/dsl
public-hoist-pattern[]=@openmaic/storage
public-hoist-pattern[]=@openmaic/importer
public-hoist-pattern[]=@openmaic/renderer
public-hoist-pattern[]=mathml2omml
public-hoist-pattern[]=pptxgenjs
